<a href="https://colab.research.google.com/github/mkirby1995/miracle-messages-map-DS/blob/master/Matt_Kirby_Miracle_Messages_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

csv = 'https://raw.githubusercontent.com/mkirby1995/miracle_messages/master/Master%20MM%20Volunteers%20-%20MM%20Volunteers.csv'

df = pd.read_csv(csv)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7097 entries, 0 to 7096
Data columns (total 24 columns):
Submitted on          7097 non-null object
Email address         7097 non-null object
First Name            3181 non-null object
Last Name             3003 non-null object
Phone                 1117 non-null object
City                  4730 non-null object
Stateprovince         3467 non-null object
Country               3841 non-null object
I am interested in    6654 non-null object
Comment               1515 non-null object
ZIP                   502 non-null object
Full Address          4674 non-null object
Timezone              3961 non-null object
Donations             916 non-null object
Donation Date         789 non-null object
Donation Source       735 non-null object
Source                131 non-null object
Company               0 non-null float64
Emails sent           6115 non-null float64
Opened                6115 non-null float64
Clicked               6115 non-null float64
Birthday              0 non-null float64
Name                  1 non-null object
Merge status          4 non-null float64
dtypes: float64(6), object(18)
memory usage: 1.3+ MB

In [2]:
df.head()

          Submitted on                Email address  ... Name Merge status
0  2015-04-08 17:21:31          rachels42@gmail.com  ...  NaN          NaN
1  2015-04-08 17:21:24            dmhomee@gmail.com  ...  NaN          NaN
2  2015-04-08 17:21:23             joe@simple10.com  ...  NaN          NaN
3  01/14/2017 20:09:53     katierussell58@gmail.com  ...  NaN          NaN
4  2015-04-08 17:21:33  anatoledanogarcia@gmail.com  ...  NaN          NaN

[5 rows x 24 columns]

# Cleaning

## First Name

In [3]:
df['First Name'].isna().sum()

3916

In [0]:
df['First Name'] = df['First Name'].str.title()

In [0]:
df['First Name'] = df['First Name'].fillna('Unknown')

In [6]:
df['First Name'].isna().sum()

0



---

## Last Name

In [7]:
df['Last Name'].isna().sum()

4094

In [0]:
df['Last Name'] = df['Last Name'].str.title()

In [0]:
df['Last Name'] = df['Last Name'].fillna('Unknown')

In [10]:
df['Last Name'].isna().sum()

0



---

## Phone

In [11]:
df['Phone'].isna().sum()

5980

In [0]:
# Remove all +, -, and () from phone numbers 
df['Phone'] = df['Phone'].astype(str).str.replace('[+,\-,(,),\ ]', '')

In [0]:
# Format the phone numbers _(___)___-____
df['Phone'] = df['Phone'].astype(str).apply(lambda x:
            x[:-10] + '(' + x[-10:-7] + ')' + x[-7:-4] + '-' + x[-4:])

In [0]:
# Replace nan values with Unknown
df['Phone'] = df['Phone'].replace({'() -nan':'Unknown'})

### Add phone numbers found in comments

In [27]:
df['Phone'].loc[3245], df['Comment'].loc[3245]

('Unknown',
 'Lost your number and I had a few questions I may need your help 2073100383')

In [0]:
df['Phone'].loc[3245] = '(207)310-0383'

In [28]:
df['Phone'].loc[4445], df['Comment'].loc[4445]

('Unknown',
 'I am an serious hobby photographer who would be interested in making videos for the homeless and to also take photos, print them free, and mail them to family. What you are going is fabulous !!Sandra Grant778-386-3122')

In [0]:
df['Phone'].loc[4445] = '(778)386-3122'

In [29]:
df['Phone'].loc[6841], df['Comment'].loc[6841]

('Unknown',
 'I would love to help in anyway I can , being an Advocate for Missing persons I interact with the homeless communities all the time . i can be reached at 858-212-7503')

In [0]:
df['Phone'].loc[6841] = '(858)212-7503'



---

## I am interested in

### Create a seperate column for those interested in volenteering

In [0]:
df['Interested in Volenteering'] = df['I am interested in'].str.contains('Volunteering')

In [0]:
df['Interested in Volenteering'] = df['Interested in Volenteering'].fillna(False)

In [35]:
df['Interested in Volenteering'].value_counts()

True     5858
False     796
False     443
Name: Interested in Volenteering, dtype: int64

### Create a seperate column for those interested in donating

In [0]:
df['Interested in Donating'] = df['I am interested in'].str.contains('Donating')

In [0]:
df['Interested in Donating'] = df['Interested in Donating'].fillna(False)

In [42]:
df['Interested in Donating'].value_counts()

False    6034
True     1063
Name: Interested in Donating, dtype: int64